<html>
    <head>
        <title>kanagaebi's blog</title>
    </head>
    <body>
	    <div>
			<h1>1. 실물경제</h1> 
			<h2>가. 세계경제</h2> 
			<h3>세계경제 완만한 성장세</h3>
			<p>2016년 중 세계경제는 선진국의 성장세 둔화에도 불구하고 연간 3.1%의 완만한 성장세를 보였다.</p>
			<p>상반기 중에는 회복세가 더뎠으나 하반기 들어 개선 흐름을 보였다.</p>	
		</div> 
		<div>
			<h3>미국</h3>
			<p>미국은 에너지 관련 투자 부진, 재고 조정 등으로 상반기 중 회복세가 둔화되었다. 그러나 하반기 들어 투자심리가 회복되고 소비가 견조한 증가세를 보이면서 성장세가 확대되었다.</p>
			<h3>유로지역</h3>
			<p>유로지역은 유럽중앙은행(ECB, European Central Bank)의 통화정책 대응과 고용 개선 등에 힘입어 완만한 성장세를 유지하였다. 다만 브렉시트 충격에 따른 투자심리 위축 등으로 성장률은 2015년에 비해 다소 낮아졌다. 일본 또한 소비 및 설비투자를 중심으로 회복세가 이어지는 모습을 보였으나 연중 성장률은 2015년 수준을 소폭 하회하였다.</p>
		</div> 
		<div>출처: 한국은행 2016년도 연차보고서</div>
    </body>
</html>